
# Builds of app (have copy in dist)
**/MonoCMS/bin/
**/MonoCMS/obj/

# Varios IDE presets
**/.vs/
**/.idea/

# Javascript dependecies
**/node_modules/

# Build from dist
!dist/MonoCMS.exe
!dist/*.dll

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config