
# Builds of app (have copy in dist)
**/MonoCMS/bin/
**/MonoCMS/obj/
# VS IDE presets
**/.vs/
# Javascript dependecies
**/node_modules/
# IDEA IDE presets
**/.idea/
# Build from dist
!dist/MonoCMS.exe
!dist/*.dll

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config