
html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    min-width: 1024px;
    height: 100%;
}

.app
{
    font-family: 'Roboto', sans-serif;

    width: 100%;
    height: 100%;

    background: linear-gradient(135deg, #fff 0%, #d4dbe2 100%);
}

.page
{
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 3em 0 0 12em;
}

.button
{
    display: inline-block;

    margin: .25em;
    padding: .5em 1em;

    cursor: pointer;
    transition-duration: @transitionTime;

    color: @whiteColor;
    background-color: @darkBG;
    border-radius: 0.4em;
    user-select: none;

    &:hover
    {
        background-color: fade(@darkBG, 50%, relative);
    }
}

.material-icons
{
    font-size: 1em;
    line-height: 1em;
    vertical-align: middle;
    padding-right: 0.25em;
}
